/* css styles */

.wrapping {
  float: right;
  shape-outside: url("assets/blender/render-align/frame0000.png");
  shape-margin: 50px;
  width: 80%;
}

#fig-structure > figure > figcaption {
  float: left;
  clear: both;
}